{% include 'header.html'%}
{% block head %}
{% endblock %}
       <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{{url_for('static',filename='assets/img/avataaars.svg')}}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Hello Everyone</h1>
                <h4>Welcome to my portfolio</h4>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Python Developer - Web Designer </p>
            </div>
        </header>
{% include 'footer.html' %}         
{% block foot %}
{% endblock %}
        
        
        
        